<ion-header [translucent]="true"></ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="main-grid">
    <ion-row class="ion-justify-content-center ion-align-items-center">

      <ion-col size="12" size-md="6" class="ion-text-center logo-container">
      </ion-col>

      <ion-col size="12" size-md="5" class="form-container">
        <div class="form-wrapper">
          <h2>Criar Conta</h2>
          
          <form (ngSubmit)="cadastrar()">
            <ion-item lines="none">
              <ion-label position="stacked">Nome</ion-label>
              <ion-input type="text" placeholder="Seu nome completo"></ion-input>
            </ion-item>

            <ion-item lines="none">
              <ion-label position="stacked">Email</ion-label>
              <ion-input type="email" placeholder="seuemail@email.com"></ion-input>
            </ion-item>
            
            <ion-item lines="none">
              <ion-label position="stacked">Senha</ion-label>
              <ion-input type="password" placeholder="Crie uma senha forte"></ion-input>
            </ion-item>

            <ion-item lines="none">
              <ion-label position="stacked">Confirmar Senha</ion-label>
              <ion-input type="password" placeholder="Repita a senha"></ion-input>
            </ion-item>

            <ion-button expand="block" type="submit" class="login-button">
              Cadastrar
            </ion-button>
          </form>

          <div class="separator">OU</div>

          <ion-button expand="block" class="google-login-button" (click)="cadastrarComGoogle()">
            <ion-icon slot="start" name="logo-google"></ion-icon>
            Cadastrar com o Google
          </ion-button>

          <div class="ion-text-center signup-link">
            <p>Já possui uma conta? 
              <a [routerLink]="['/login']">Faça Login</a>
            </p>
          </div>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>

  <div class="footer-credits">
    Uma criação de programadores independentes: Isaque P. Lino & Pedro L. Baschoni
  </div>
</ion-content>
